body {
  background-color: #ffe8e8;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creature {
  width: 400px;
  height: 400px;
  position: relative;
  /* border: 1px solid rgb(189, 189, 0); */
  margin-top: 10%;
}

.ears {
  width: 50px;
  height: 60px;
  background-color: #3a2424;
  border-radius: 40% 40% 50% 50%;
  border: 1px solid #f5b9b9;
  position: absolute;
  z-index: -1;
}

.ears.left {
  left: 75px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.ears.right {
  left: 275px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.ears .shadow {
  width: 35px;
  height: 45px;
  border-radius: 40% 40% 50% 50%;
  background-color: pink;
}

.ears.left .shadow {
  margin: 15px 0 0 5px;
}

.ears.right .shadow {
  margin: 15px 0 0 10px;
}

.antenas {
  width: 25px;
  height: 200px;
  position: absolute;
  background-color: #cd3535;
  border-radius: 20px;
}

.antenas.left {
  top: -170px;
  left: 140px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation-name: wavy;
          animation-name: wavy;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes wavy {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes wavy {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.antenas.right {
  top: -170px;
  right: 140px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.face {
  width: 200px;
  height: 240px;
  background-color: #ff9bf0;
  margin: 0 auto;
  border-radius: 150px 150px 200px 200px;
  position: relative;
  z-index: -1;
}

.face .eyes {
  width: 30px;
  height: 60px;
  background-color: #723e3e;
  border-radius: 70%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* transition: 200ms; */
}

/* .creature:hover .eyes { */
/* animation-name: blink; */
/* height: 3px; */
/* background-color: red !important; */
/* } */
@-webkit-keyframes blink {
  0% {
    height: 60px;
  }
  90% {
    height: 60px;
  }
  95% {
    height: 3px;
  }
  100% {
    height: 60px;
  }
}
@keyframes blink {
  0% {
    height: 60px;
  }
  90% {
    height: 60px;
  }
  95% {
    height: 3px;
  }
  100% {
    height: 60px;
  }
}

.face .eyes.left {
  top: 80px;
  left: 45px;
}

.face .eyes.right {
  top: 80px;
  left: 105px;
}

.face .eyes .pupil {
  float: right;
  margin: 10px 7px 0 0;
  /* transform: rotate(-5deg); */
  width: 10px;
  height: 10px;
  background-color: #ffe2e2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.chin {
  width: 250px;
  height: 150px;
  background-color: rgba(255, 163, 179, 0.646);
  border-radius: 40%;
  margin: 0 auto;
  margin-top: -90px;
}

.chin .nose {
  width: 75px;
  height: 60px;
  background-color: rgba(142, 54, 0, 0.783);
  top: -15px;
  border-radius: 50%;
  border: 5px solid saddlebrown;
  margin: 0 auto;
  position: relative;
}

.chin .nose .shine {
  width: 45px;
  height: 25px;
  background-color: #ff9068;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  position: absolute;
  right: 10px;
  top: 5px;
}
/*# sourceMappingURL=style.css.map */